
  <h2>
      List of users
    </h2>
    <ul class ="list-group">
        <li class = "list-group-item" *ngFor = "let key of usersKeys of users">
        
                  <a [routerLink] = "['/user', key]">{{'user number ' + key + ' , Name: ' + users[key].name + ' , Popularity: ' + users[key].popular}}</a></li>
                  
        
         
          
    </ul>
  
