<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <button (click) = "logout()" routerLink = "/login" id="logout">Logout</button>
<h1>Add A Message</h1>
<form [formGroup] = "Createform" (ngSubmit) = "createMessage()">
  <div>
    <label for="head"></label>
    <div>
        <label for="body"></label>
        <div class="input-group">
            <div class="input-group-addon">
                 <i class="fa fa-header"></i>
            </div>
        <input class="form-control" name="head" id="head" placeholder="head" style="font-style:italic;" formControlName = "head" >
       
      </div>
      <div *ngIf="!Createform.controls.head.valid" class="errors">Please add a Title</div>
      </div>
        
  </div>
 
  <div>
    <label for="body"></label>
    <div class="input-group">
        <div class="input-group-addon">
          <i class="material-icons" style="font-size:17px;">description</i>
        </div>
    <input class="form-control" name="body" id="body" placeholder="body" style="font-style:italic;" formControlName = "body" >
    
    
  </div>
  <div *ngIf="!Createform.controls.body.valid" class="errors">Please add a message</div>
  </div>

 <br>
  
  <input type="submit" value = "Create" class = "btn btn-primary" [disabled]="!Createform.valid" id="create">
  <!--button class="btn btn-warnning" [routerLink]="['/messages']" >Back</button--> 
</form> 
      