form{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    margin-left: 400px;
    margin-top: 10px;
    width:450px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkcyan;
    margin-left: 400px;
    margin-top: 20px;
    width:450px; 
}


#create{
    background-color: rgb(93, 199, 83);
    border: none;
    color: rgb(2, 14, 14);
}
#logout{
    background-color: rgb(191, 159, 212);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    color: aliceblue;
    padding: 10px;
    width: 10%;
    border-radius: 7px;
    margin-right: 1%;
    margin-top: 1%;
}