
<h1>Welocome! <img src="assets/flower.jpg" alt="" style="margin-left:1%;width:80px;"></h1>
<h4>Please Log-in </h4>
<div style="text-align: center;">
        <form [formGroup] = "loginForm" (ngSubmit) = "login()" style="text-align: center;">
            <div>
              <label for="user">User Name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
              <input type="text" name= "user" id= "user" class="form-control" formControlName = "user" placeholder="Please enter username" >
            </div></div>
    
            <div>
              <label for="password">Password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </div>
                
              <input type="text" name= "password" id= "password" class="form-control" formControlName = "password" placeholder="Please enter password">
            </div>
          </div>

            <div *ngIf = "invalid" class="alert alert-danger">
                 Invalid username or password
               
            </div>
            <br />
            <input type="submit" value= "Login" class= "btn btn-primary" id="login">
           
      </form>
      <br>
    </div>	
    <div class="signup">
      <h6><b>Not A Member?</b></h6>
      <button class="btn btn-info" [routerLink] = "['/create-user']" id="signup">Sign up Here</button>
      </div>

<!--form [formGroup] = "loginForm" (ngSubmit) = "login()">
<div class="form-group">
    <label for="username">User Name</label>
    <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-user"></i>
        </div>
    <input class="form-control" name="username" id="username" placeholder="User Name" formControlName = "username" required>
 
    <div *ngIf="!usrform.controls.username.valid" class="errors">Please add Username</div>
  </div>
  <div class="form-group">
      <label for="password">User Name</label>
      <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-key"></i>
          </div>
      <input class="form-control" name="password" id="password" placeholder="Password" formControlName = "password" required>
      <div *ngIf="!usrform.controls.username.valid" class="errors">Please add Username</div>
    </div>
    
<button class="btn btn-info" [routerLink] = "['/messages']">Log In</button-->

