form{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    margin-left: 400px;
    margin-top: 10px;
    width:450px;
}

.signup{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 27, 27);
    margin-left: 400px;
    margin-top: 10px;
    width:450px;
}

div > label{
    margin-right: 8000px;
    color: rgb(37, 53, 53);
    margin-right: 500px;
    margin-top: 10px;
    width:100px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkcyan;
    margin-left: 400px;
    margin-top: 20px;
    width:450px; 
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkcyan;
    margin-left: 400px;
    margin-top: 20px;
    width:450px; 
}

#login{
    background-color: rgb(233, 133, 195);
    border: none;
    color: rgb(248, 252, 252);
    margin-right: 95%;
}

#signup{
    background-color: rgb(47, 161, 152);
    border: none;
    color: rgb(248, 252, 252);
}
