<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf = "token">
    <button (click) = "logout()" routerLink = "/login" id="logout">Logout</button>
    <h1 style="text-align:center">Messages </h1>
    <ul  class = "list-group">
       <!--li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/create-message">Create Messages</a></li-->
    
       <button class="btn btn-outline-info" [routerLink]="['/create-message']" style="margin-left: 250px; margin-top: 10px;width:750px;background-color: rgb(254, 255, 255);border: none;" ><img src="assets/create.png" alt="create" width="32" height="32"> Create Messages </button> 
  
       <li class = "list-group-item" *ngFor = "let key of messages">
        <a  [routerLink] = "['/user', key.user_id]">
              <p *ngIf="key.user_id" [innerHTML]="imgs[key.user_id] "></p> 
        </a>
        <h4><b>{{key.head}}</b></h4>
        <p>{{key.body}}</p>
     
    <br>
    <div> <p><b>Calps: {{key.likes}}</b></p>
      <button id="claps" class="btn btn-info"  (click) = "like(key.key, key)" ><img src="assets/clapp.png" alt="clapping hands" width="32" height="32"></button>
     </div>
    </li>
  </ul>
    </div>

    <div *ngIf = "!token">
    <div class="not-sign" id="not-sign">
        <h1>Hey, Your Not Logged In</h1>
        
         <button (click) = "logout()" routerLink = "/login" id="logout" style="width:30%;">Login Here</button>
         <br>
         
        <button (click) = "logout()" routerLink = "/create-user" id="logout" style="width:30%;background-color:cadetblue; ">Or Sign Up Here, It's Free! <i class="material-icons">sentiment_very_satisfied</i> </button>
        <br>
  
    </div>
  </div> 
          

          
   

      
      <!--button class="btn btn-info" (click) = "showComments(key.id)">Comments</button-->
      <!--div *ngFor = "let comment of comments">
        <p *ngIf = "comment.message_id == key.id">{{comment.body}}</p>
      </div>
      <div *ngIf = "updates[key.id]">
          <form [formGroup] = "updateform" (ngSubmit) = "updateMessage(key.id)">
            <div>
              <label for="head"></label>
              <input type="text" name = "head" id = "head" formControlName = "head" class = "form-control" >
              <div *ngIf = "updateform.get('head').touched && updateform.get('head').invalid" class="alert alert-danger">
                Head is required
            </div>       
            </div>
            <div>
              <label for="body"></label>
              <input type="text" name = "body" id = "body" formControlName = "body" class = "form-control">
              <div *ngIf = "updateform.get('body').touched && updateform.get('body').invalid" class="alert alert-danger">
                  Body is required
              </div>   
            </div>
            <input type="submit" value = "Save" class = "btn btn-primary">
          </form>       
        </div>
    </li>
  </ul-->

