form{
    width: 40%;
}
input{margin:10px}

li,h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    margin-left: 250px;
    margin-top: 10px;
    width:750px;
  
     
}


#logout{
    background-color: rgb(191, 159, 212);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    color: aliceblue;
    padding: 10px;
    width: 10%;
    border-radius: 7px;
    margin-right: 1%;
    margin-top: 1%;
}

#claps{
    background-color: #FFFF;
    border:none;
}

#not-sign{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    float:right;
  
}

#not-sign>h1{
    margin-right: 90px;
    margin-top: 1%;
    color: rgb(24, 59, 73);
}
#not-sign>#logout{
    margin-right: 500px;
    margin-top: 2%;
    widows: 400px;
}


#not-sign>#or{
    margin-right: 500px;
}