<div>
    <ul  class = "list-group">
      <li class = "list-group-item" *ngFor = "let keyUser of userKeys">
        <h2>User id {{user[keyUser].id}}</h2>
        <p>
          Username: {{user[keyUser].username}}
        </p>
        <p>
          Name: {{user[keyUser].name}}
        </p>
        <p>
          User Popularity: {{user[keyUser].popular}}
        </p>
        <br>
        <div>
            <ul  class = "list-group">
              <h4><b> User Messages </b></h4> 
              <ng-container *ngFor="let key of messages">
                <p class = "list-group-item" *ngIf="key.user_id == user[keyUser].id">
                  {{key.head}}
                </p>
              </ng-container>
            </ul>
          </div>
      </li>
    </ul>
  </div>