<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          
          <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/messages"><i class="fa fa-comment"></i>   Messgaes</a></li>
          
          <!--li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/">Users</a></li-->
        <!--li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/login"><i class="fa fa-sign-in"></i>   login</a></li-->
        
        <!--li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a (click) = "logout()" routerLink = "/login">Logout</a></li-->
        
        
        <!--<li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/firebase">user Firebase</a></li>-->
      </ul>
    </div>
  </div>
 
</nav>
