form{
    
    
    margin-left: 250px;
    margin-top: 10px;
    width:750px;
  
     
}
errors{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}

#login{
    background-color: rgb(233, 133, 195);
    border: none;
    color: rgb(248, 252, 252);
}
#logout{
    background-color: rgb(88, 184, 184);
    border: none;
    color: rgb(248, 252, 252);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkcyan;
    margin-left: 550px;
    margin-top: 20px;
    width:450px; 
}