<h1>Sign Up Page</h1>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
 
    <div class="form-group">
        <label for="name" style="color:cadetblue;  font-family: Tahoma;">Name</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user"></i>
            </div>
        <input class="form-control" name="name" id="name"  placeholder="Full Name" formControlName = "name" >
        
      </div>
      <div *ngIf="!usrform.controls.name.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please Enter a Name</div>
      
      <br>
      <div class="form-group">
          <label for="username" style="color:cadetblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">User Name</label>
          <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-thumbs-up"></i>
              </div>
          <input class="form-control" name="username" id="username" placeholder="User Name" formControlName = "username" >
         
        </div>
        <div *ngIf="!usrform.controls.username.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">Please add Username</div>
       
  
        <br>
        <div class="form-group">
            <label for="password" style="color:cadetblue; font-family: Tahoma;">Password</label>
        <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-lock"></i>
            </div>
            <input type="text" name="password" id="password" class="form-control" formControlName = "password">
      
      
    
    </div>
    <div *ngIf="!usrform.controls.password.valid" class="errors" style="color: crimson;  font-family: Tahoma;font-style:italic;font-size:90%;margin-left:40px;">
        Please add Password
  </div>
      <div>
          
      <label for="profile_pic" style="color:cadetblue;  font-family: Tahoma;">Profile picture</label>
     
      <!--<input type="text" name="profile_pic" id="profile_pic" class="form-control" formControlName = "profile_pic">-->
      <!--for the image in messages-->
      <!--img [src] = "fullPath" /-->
      <input type="file" #fileInput placeholder="Upload file..." />
      
      <!--<button type="button" (click)="upload()" >Upload</button>-->
      
  
    </div>
  <br>
    <!--input type="submit" value = "Send user" class = "btn btn-primary" (click)="upload()"-->
    <div class="form-group">
        <button class="btn btn-default" type="submit"  [disabled]="!usrform.valid" >
          <i class="fa fa-floppy-o"></i>
           Submit</button>
        <button class="btn btn-default" type="button" routerLink = "/login" id="logout">Return</button>
      </div>
    
   <!-- </form>-->